{% extends 'base.html.twig' %}

{% block title %}Edit Category{% endblock %}

{% block body %}
<div class="form-container">
    <h1>Edit Category</h1>

    {{ include('crud/category/_form.html.twig', {'button_label': 'Update'}) }}
</div>
{% endblock %}
