<form method="post" action="{{ path('add_product_to_cart', {'cart': cart.id, 'id': product.id}) }}" style="display: inline"
      onsubmit="return confirm('Are you sure you want to add this item?');">
    <input type="number" name="amount" value=1 style="width: 20%">
    <button class="btn">Add</button>
</form>
