body {
    background-image: url('https://restaurantindia.s3.ap-south-1.amazonaws.com/s3fs-public/content11850.jpg');
    background-size: cover;
    background-attachment: scroll;
}

thead > tr {
    background-color: #9f5811;
}

th {
    border-bottom: 1px solid #ffad33;
    color: white;
}

td {
    border-bottom: 1px solid #ffad33;
}

.container {
    padding: 25px;
    background: gainsboro;
    min-height: 650px;
    opacity: 0.83;"
}

.btn {
    background-color: #9f5811;
    color: white;
}

.btn-delete {
    background-color: #9f5811;
    color: white;
    border-radius: 5px;
    border-collapse: collapse;
    border: none;
    padding: 4px 11px;
    margin-top: 2px;
}

.fas {
    color: #9f5811;
}

.form-container {
    width: 50%;
    margin: auto;
}