<html>
<head>
    <meta charset="UTF-8">
    <title>Generate PDF File</title>
</head>
<body>
<h4>Payment bill</h4>
<table style="
    text-align: left;
    width: 100%;">
    <thead>
    <tr>
        <td><b>Name</b></td>
        <td><b>Amount</b></td>
        <td><b>Price</b></td>
    </tr>
    </thead>
    <tbody>
    {% for products in products %}
        <tr>
            <td>{{ products.product.name }}</td>
            <td>{{ products.amount }}</td>
            <td>{{ products.product.price }} €</td>
        </tr>
    {% endfor %}
    <tr>
        <td colspan="2" style="text-align: right">Total price:</td>
        <td>{{ price }} €</td>
    </tr>
    </tbody>
</table>
</body>
</html>