<form method="post" action="{{ path('order_product_delete', {'order': order.id, 'id': prod.id}) }}" onsubmit="return confirm('Are you sure you want to remove this meal?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ prod.id) }}">
    <button class="btn">Delete</button>
</form>
