{% extends 'base.html.twig' %}

{% block title %}New Status{% endblock %}

{% block body %}
    <h1>Create new Status</h1>

    {{ include('crud/status/_form.html.twig') }}

    <a class="btn" href="{{ path('status_index') }}">Back to list</a>
{% endblock %}
